.inventory-label {
    background-color: rgba(255, 170, 71, 255);
    font-size: 34px;
    color: rgba(178, 100, 26, 255);
    -unity-font-style: bold;
    padding-left: 19px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.inventory-background {
    background-color: rgba(0, 0, 0, 0.4);
}
